@page "/eliminar/{Id:int}"
@using System.Net.Http;
@using System.Net.Http.Json;
@using Data
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>Eliminar</h3>

<p>Deseas Elimiar el Id?</p>
<div>
    <button @onclick="Cancelar">Cancelar</button>
    <button @onclick="Eliminador">Eliminar</button>
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    Respuesta<object> oRespuesta = new Respuesta<object>();
    public string Url = "/api/Cerveza";


    private async Task Eliminador()
    {

        var response = await Http.DeleteAsync(Url+"/"+Id);
        oRespuesta = response.Content.ReadFromJsonAsync<Respuesta<object>>().Result;
        NavigationManager.NavigateTo("/cervezas");

    }

    private void Cancelar()
    {

       
        NavigationManager.NavigateTo("/cervezas");

    }


}
