@page "/estadistica"
@using System;
@using System.IO;
<h1>Estadistica</h1>
<br />
<br />


@{n = lines.Length;}
<table class="table">
    <tr>
        @{
            var line = lines[0].Split(",");
            foreach (var valor in line)
            {
                <th>@valor</th>
                
            }
         }
    </tr>
    
        @for (int i= 1;i<n;i++)
        {
            <tr>
                @{
                    var linea = lines[i].Split(",");
                    foreach(var val in linea)
                    {
                        <td>@val</td>
                    }

                } 
            </tr>
        }
    
</table>
@{ obj1.grafica();}




@code {
    string val;
    string[] lines = File.ReadAllLines("country_wise_latest.csv");
    int n;

    public Data.Firma obj1 = new Data.Firma();




}