@page "/"
@using System.Diagnostics;

<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="/images/icon.ico" />
    <title>Computacion</title>
</head>
<body>

    <h1>Examen 3° parcial</h1>
    <br />Alumno: Carlos Daniel Yerena Mercado
    <br />Grupo: 8CM11

</body>
</html>
@obj1.firmar()

@code{
    public Data.Firma obj1 = new Data.Firma();
}





