@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <link rel="shortcut icon" href="/images/icon.ico" />

    <div class="content px-4">
        @Body
    </div>
</div>
